In [ ]:
import pandas as pd
import numpy as np
from datetime import timedelta

np.random.seed(42)
np.random.default_rng(42)
# генерация данных для каждого столбца
data = {
    'temperature_celsius': np.random.uniform(20, 35, size=100),  # температура в градусах Цельсия (float)
    'age_years': np.random.randint(18, 65, size=100),  # возраст в годах (int)
    'timestamp_event': [pd.Timestamp('20230101') + timedelta(days=i) for i in range(100)],  # время события (datetime)
    'product_category': np.random.choice(['electronics', 'clothing', 'food'], size=100),  # категория продукта (string)
    'is_purchased': np.random.choice([True, False], size=100),  # булевое значение приобретения (bool)
    'humidity_percentage': np.random.uniform(40, 80, size=100),  # влажность в процентах (float)
    'income_usd': np.random.randint(20000, 100000, size=100),  # доход в долларах США (int)
    'last_updated': [pd.Timestamp('20240101') + timedelta(days=i) for i in range(100)],  # последнее обновление (datetime)
    'product_name': ['Product_' + str(i) for i in range(100)],  # название продукта (string)
    'is_subscribed': np.random.choice([True, False], size=100)  # булевое значение подписки (bool)
}

# создание DataFrame
df = pd.DataFrame(data)

df_int = df.select_dtypes(np.int64)
df_float = df.select_dtypes(np.float64)
df_bool = df.select_dtypes(bool)
df_object = df.select_dtypes(object)
df_date = df.select_dtypes(np.datetime64)

In [10]:
df

,temperature_celsius,age_years,timestamp_event,product_category,is_purchased,humidity_percentage,income_usd,last_updated,product_name,is_subscribed
0,25.618102,49,2023-01-01,electronics,True,47.775201,75069,2024-01-01,Product_0,False
1,34.260715,56,2023-01-02,electronics,True,56.454156,34397,2024-01-02,Product_1,True
2,30.979909,49,2023-01-03,food,False,67.980488,61555,2024-01-03,Product_2,True
3,28.979877,21,2023-01-04,clothing,True,45.534124,66959,2024-01-04,Product_3,True
4,22.340280,47,2023-01-05,electronics,True,45.309817,20728,2024-01-05,Product_4,True
...,...,...,...,...,...,...,...,...,...,...
95,27.406934,20,2023-04-06,electronics,True,62.474668,50354,2024-04-05,Product_95,True
96,27.840992,36,2023-04-07,food,True,49.543874,33843,2024-04-06,Product_96,False
97,26.413115,37,2023-04-08,food,False,67.193791,91726,2024-04-07,Product_97,False
98,20.381287,49,2023-04-09,electronics,False,69.596350,37640,2024-04-08,Product_98,True
99,21.618371,24,2023-04-10,food,True,49.529446,72528,2024-04-09,Product_99,True

In [ ]:
import pandas as pd
import numpy as np
from datetime import timedelta
from sklearn.preprocessing import Binarizer, StandardScaler, LabelEncoder

np.random.seed(42)
np.random.default_rng(42)
# генерация данных для каждого столбца
data = {
    'temperature_celsius': np.random.uniform(20, 35, size=100),  # температура в градусах Цельсия (float)
    'age_years': np.random.randint(18, 65, size=100),  # возраст в годах (int)
    'timestamp_event': [pd.Timestamp('20230101') + timedelta(days=i) for i in range(100)],  # время события (datetime)
    'product_category': np.random.choice(['electronics', 'clothing', 'food'], size=100),  # категория продукта (string)
    'is_purchased': np.random.choice([True, False], size=100),  # булевое значение приобретения (bool)
    'humidity_percentage': np.random.uniform(40, 80, size=100),  # влажность в процентах (float)
    'income_usd': np.random.randint(20000, 100000, size=100),  # доход в долларах США (int)
    'last_updated': [pd.Timestamp('20240101') + timedelta(days=i) for i in range(100)],  # последнее обновление (datetime)
    'product_name': ['Product_' + str(i) for i in range(100)],  # название продукта (string)
    'is_subscribed': np.random.choice([True, False], size=100)  # булевое значение подписки (bool)
}

# создание DataFrame
df = pd.DataFrame(data)

binarizer = Binarizer(threshold=df["income_usd"].mean())
std_scaler = StandardScaler()
label_encoder = LabelEncoder()

df["income_usd_binarized"] = binarizer.fit_transform(df["income_usd"].values.reshape(-1, 1))
df["age_years_standarded"] = std_scaler.fit_transform(df["age_years"].values.reshape(-1, 1))
df["is_subscribed_encoded"] = label_encoder.fit_transform(df["is_subscribed"].values.reshape(-1, 1))

/home/mle-user/mle_projects/mle-mlflow/.venv_mle_mlflow/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta
from sklearn.preprocessing import Binarizer, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

np.random.seed(42)
np.random.default_rng(42)

data = {
    'temperature_celsius': np.random.uniform(20, 35, size=100),  # температура в градусах Цельсия (float)
    'age_years': np.random.randint(18, 65, size=100),  # возраст в годах (int)
    'timestamp_event': [pd.Timestamp('20230101') + timedelta(days=i) for i in range(100)],  # время события (datetime)
    'product_category': np.random.choice(['electronics', 'clothing', 'food'], size=100),  # категория продукта (string)
    'is_purchased': np.random.choice([True, False], size=100),  # булевое значение приобретения (bool)
    'humidity_percentage': np.random.uniform(40, 80, size=100),  # влажность в процентах (float)
    'income_usd': np.random.randint(20000, 100000, size=100),  # доход в долларах США (int)
    'last_updated': [pd.Timestamp('20240101') + timedelta(days=i) for i in range(100)],  # последнее обновление (datetime)
    'product_name': ['Product_' + str(i) for i in range(100)],  # название продукта (string)
    'is_subscribed': np.random.choice([True, False], size=100)  # булевое значение подписки (bool)
}

df = pd.DataFrame(data)

preprocessor = ColumnTransformer(
    transformers=[
        ("bin", Binarizer(threshold=df["income_usd"].mean()), ["income_usd"]),
        ("std", StandardScaler(), ["age_years"]),
        ("onehot", OneHotEncoder(), ["is_subscribed"])
    ]
)

# создание Pipeline с преобразованиями
pipe = Pipeline(
    steps=[
        ("preprocessor", preprocessor)
    ]
)

transformed_data = pipe.fit_transform(df)
transformed_data

array([[ 1.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 0.        ,  1.16672773,  0.        ,  1.        ],
       [ 1.        ,  0.6485111 ,  0.        ,  1.        ],
       [ 1.        , -1.42435543,  0.        ,  1.        ],
       [ 0.        ,  0.50044921,  0.        ,  1.        ],
       [ 1.        ,  1.01866584,  1.        ,  0.        ],
       [ 1.        , -0.01776743,  1.        ,  0.        ],
       [ 1.        ,  1.16672773,  0.        ,  1.        ],
       [ 1.        ,  1.61091342,  1.        ,  0.        ],
       [ 1.        , -0.61001501,  0.        ,  1.        ],
       [ 0.        ,  1.46285152,  0.        ,  1.        ],
       [ 1.        ,  0.42641826,  0.        ,  1.        ],
       [ 1.        ,  0.94463489,  1.        ,  0.        ],
       [ 0.        , -0.7580769 ,  1.        ,  0.        ],
       [ 0.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 1.        , -1.20226259,  1.        ,  0.        ],
       [ 0.        , -0.09179838,  1.        ,  0.        ],
       [ 1.        ,  0.35238731,  1.        ,  0.        ],
       [ 1.        , -1.57241733,  1.        ,  0.        ],
       [ 1.        ,  1.38882058,  1.        ,  0.        ],
       [ 0.        ,  1.61091342,  1.        ,  0.        ],
       [ 1.        , -1.27629354,  0.        ,  1.        ],
       [ 1.        ,  0.35238731,  1.        ,  0.        ],
       [ 0.        ,  0.35238731,  1.        ,  0.        ],
       [ 0.        ,  1.53688247,  1.        ,  0.        ],
       [ 0.        ,  1.53688247,  1.        ,  0.        ],
       [ 1.        , -0.23986027,  1.        ,  0.        ],
       [ 1.        ,  0.50044921,  1.        ,  0.        ],
       [ 0.        , -0.9061388 ,  1.        ,  0.        ],
       [ 0.        ,  0.35238731,  1.        ,  0.        ],
       [ 0.        ,  0.13029447,  1.        ,  0.        ],
       [ 0.        ,  1.16672773,  1.        ,  0.        ],
       [ 0.        ,  0.72254205,  1.        ,  0.        ],
       [ 0.        , -1.64644827,  0.        ,  1.        ],
       [ 0.        ,  0.27835636,  0.        ,  1.        ],
       [ 0.        , -0.7580769 ,  1.        ,  0.        ],
       [ 1.        ,  1.31478963,  1.        ,  0.        ],
       [ 0.        , -1.49838638,  0.        ,  1.        ],
       [ 1.        ,  1.16672773,  1.        ,  0.        ],
       [ 1.        , -1.27629354,  0.        ,  1.        ],
       [ 0.        , -1.12823164,  0.        ,  1.        ],
       [ 1.        ,  0.27835636,  0.        ,  1.        ],
       [ 1.        , -1.05420069,  0.        ,  1.        ],
       [ 1.        ,  1.01866584,  0.        ,  1.        ],
       [ 0.        ,  0.72254205,  1.        ,  0.        ],
       [ 0.        ,  1.38882058,  0.        ,  1.        ],
       [ 1.        ,  1.53688247,  1.        ,  0.        ],
       [ 1.        ,  0.05626352,  1.        ,  0.        ],
       [ 1.        , -0.61001501,  0.        ,  1.        ],
       [ 1.        ,  0.6485111 ,  0.        ,  1.        ],
       [ 0.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 1.        ,  0.05626352,  0.        ,  1.        ],
       [ 0.        ,  1.31478963,  0.        ,  1.        ],
       [ 0.        , -0.83210785,  1.        ,  0.        ],
       [ 0.        ,  1.16672773,  1.        ,  0.        ],
       [ 1.        , -1.57241733,  0.        ,  1.        ],
       [ 0.        , -1.49838638,  1.        ,  0.        ],
       [ 1.        ,  1.01866584,  0.        ,  1.        ],
       [ 1.        , -0.46195311,  0.        ,  1.        ],
       [ 0.        , -1.57241733,  0.        ,  1.        ],
       [ 0.        , -1.57241733,  1.        ,  0.        ],
       [ 0.        ,  0.35238731,  1.        ,  0.        ],
       [ 0.        , -0.01776743,  1.        ,  0.        ],
       [ 0.        ,  1.01866584,  1.        ,  0.        ],
       [ 1.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 0.        ,  0.72254205,  0.        ,  1.        ],
       [ 0.        , -1.64644827,  0.        ,  1.        ],
       [ 1.        , -0.31389122,  0.        ,  1.        ],
       [ 0.        , -1.57241733,  0.        ,  1.        ],
       [ 1.        ,  1.53688247,  1.        ,  0.        ],
       [ 0.        ,  0.20432542,  0.        ,  1.        ],
       [ 0.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 0.        , -1.27629354,  0.        ,  1.        ],
       [ 0.        ,  0.6485111 ,  1.        ,  0.        ],
       [ 1.        , -1.42435543,  1.        ,  0.        ],
       [ 1.        , -0.9061388 ,  0.        ,  1.        ],
       [ 0.        , -0.46195311,  0.        ,  1.        ],
       [ 0.        ,  1.09269679,  0.        ,  1.        ],
       [ 1.        ,  0.05626352,  0.        ,  1.        ],
       [ 1.        , -1.35032448,  1.        ,  0.        ],
       [ 1.        ,  0.796573  ,  0.        ,  1.        ],
       [ 1.        , -1.27629354,  0.        ,  1.        ],
       [ 1.        , -0.09179838,  1.        ,  0.        ],
       [ 1.        , -0.9061388 ,  0.        ,  1.        ],
       [ 0.        , -0.53598406,  0.        ,  1.        ],
       [ 0.        ,  0.72254205,  0.        ,  1.        ],
       [ 0.        , -1.05420069,  0.        ,  1.        ],
       [ 1.        , -1.27629354,  0.        ,  1.        ],
       [ 0.        , -0.53598406,  1.        ,  0.        ],
       [ 0.        ,  0.42641826,  0.        ,  1.        ],
       [ 0.        , -1.49838638,  0.        ,  1.        ],
       [ 0.        , -0.23986027,  0.        ,  1.        ],
       [ 1.        ,  0.94463489,  0.        ,  1.        ],
       [ 1.        , -0.31389122,  0.        ,  1.        ],
       [ 0.        ,  0.20432542,  1.        ,  0.        ],
       [ 0.        , -1.49838638,  0.        ,  1.        ],
       [ 0.        , -0.31389122,  1.        ,  0.        ],
       [ 1.        , -0.23986027,  1.        ,  0.        ],
       [ 0.        ,  0.6485111 ,  0.        ,  1.        ],
       [ 1.        , -1.20226259,  0.        ,  1.        ]])

In [31]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

np.random.seed(42)
np.random.default_rng(42)
start_date = pd.Timestamp('2023-01-01')
end_date = pd.Timestamp('2023-12-31')
dates = pd.date_range(start=start_date, end=end_date)
temperatures = np.random.uniform(low=-10.0, high=30.0, size=len(dates))
temperature_data = pd.DataFrame({'Date': dates, 'Temperature_Celsius': temperatures})

temperature_data['Month'] = temperature_data["Date"].dt.month
temperature_data['Weekday'] = temperature_data["Date"].dt.weekday
temperature_data['Hour'] = temperature_data["Date"].dt.hour

# # 2. Скользящие окна и накопительные статистики
temperature_data['Cumulative_Sum'] = temperature_data["Temperature_Celsius"].cumsum()
# temperature_data["Temperature_Celsius"].rolling(window=7).mean()

# 3. Периодичность и тренды
temperature_data['Monthly_Sum'] = temperature_data.groupby("Month")["Temperature_Celsius"].transform("sum")
temperature_data['Monthly_Mean'] = temperature_data.groupby("Month")["Temperature_Celsius"].transform("mean")

# вывод обработанных данных
print(temperature_data.head())

        Date  Temperature_Celsius  Month  Weekday  Hour  Cumulative_Sum
0 2023-01-01             4.981605      1        6     0        4.981605  \
1 2023-01-02            28.028572      1        0     0       33.010177
2 2023-01-03            19.279758      1        1     0       52.289935
3 2023-01-04            13.946339      1        2     0       66.236274
4 2023-01-05            -3.759254      1        3     0       62.477020

   Monthly_Sum  Monthly_Mean
0   240.618521      7.761888
1   240.618521      7.761888
2   240.618521      7.761888
3   240.618521      7.761888
4   240.618521      7.761888

In [29]:
temperature_data

,Date,Temperature_Celsius,Month,Weekday,Hour,Cumulative_Sum,Monthly_Sum,Monthly_Mean
0,2023-01-01,4.981605,1,6,0,4.981605,240.618521,7.761888
1,2023-01-02,28.028572,1,0,0,33.010177,240.618521,7.761888
2,2023-01-03,19.279758,1,1,0,52.289935,240.618521,7.761888
3,2023-01-04,13.946339,1,2,0,66.236274,240.618521,7.761888
4,2023-01-05,-3.759254,1,3,0,62.477020,240.618521,7.761888
...,...,...,...,...,...,...,...,...
360,2023-12-27,5.526797,12,2,0,3463.041704,269.370008,8.689355
361,2023-12-28,15.731529,12,3,0,3478.773232,269.370008,8.689355
362,2023-12-29,8.330116,12,4,0,3487.103348,269.370008,8.689355
363,2023-12-30,11.824672,12,5,0,3498.928020,269.370008,8.689355
364,2023-12-31,27.658592,12,6,0,3526.586612,269.370008,8.689355

In [1]:
import os

import pandas as pd
import mlflow
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import (
    OneHotEncoder, 
    SplineTransformer, 
    QuantileTransformer, 
    RobustScaler,
    PolynomialFeatures,
    KBinsDiscretizer,
)
import psycopg
from sklearn.preprocessing import OneHotEncoder

TABLE_NAME = "users_churn"

TRACKING_SERVER_HOST = "127.0.0.1"
TRACKING_SERVER_PORT = 5000

EXPERIMENT_NAME = "churn_nikolaistepanov_myown"
RUN_NAME = "preprocessing" 
# REGISTRY_MODEL_NAME =

In [2]:
connection = {"sslmode": "require", "target_session_attrs": "read-write"}
postgres_credentials = {
    "host": os.getenv("DB_DESTINATION_HOST"),
    "port": os.getenv("DB_DESTINATION_PORT"),
    "dbname": os.getenv("DB_DESTINATION_NAME"),
    "user": os.getenv("DB_DESTINATION_USER"),
    "password": os.getenv("DB_DESTINATION_PASSWORD"),
}

connection.update(postgres_credentials)

with psycopg.connect(**connection) as conn:
    with conn.cursor() as cur:
        cur.execute(f"SELECT * FROM {TABLE_NAME}")
        data = cur.fetchall()
        columns = [col[0] for col in cur.description]

df = pd.DataFrame(data, columns=columns)
df = df.dropna()

df

,id,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,gender,senior_citizen,partner,dependents,multiple_lines,target
4,1001,8357-EQXFO,2019-04-01,2019-11-01,Month-to-month,Yes,Electronic check,95.35,660.90,Fiber optic,...,Yes,No,Yes,Yes,Female,0,No,No,No,1
5,1002,1989-PRJHP,2017-08-01,2019-11-01,Month-to-month,Yes,Electronic check,75.50,1893.95,Fiber optic,...,No,No,No,No,Male,1,Yes,No,Yes,1
17,2004,1447-PJGGA,2015-02-01,2019-11-01,Two year,Yes,Electronic check,95.25,5464.65,Fiber optic,...,Yes,No,Yes,Yes,Female,0,No,No,No,1
18,2005,8565-CLBZW,2017-12-01,2019-12-01,Month-to-month,Yes,Mailed check,89.85,2165.05,Fiber optic,...,Yes,No,Yes,No,Male,0,No,No,Yes,1
19,2006,9139-WQQDY,2015-10-01,2019-11-01,One year,No,Mailed check,100.45,4941.80,Fiber optic,...,No,No,Yes,Yes,Female,0,Yes,Yes,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7021,7022,1699-HPSBG,2018-11-01,2019-11-01,One year,Yes,Electronic check,59.80,727.80,DSL,...,No,Yes,Yes,No,Male,0,No,No,No,1
7026,7027,8775-CEBBJ,2019-02-01,2019-11-01,Month-to-month,Yes,Bank transfer (automatic),44.20,403.35,DSL,...,No,No,No,No,Female,0,No,No,No,1
7032,7033,6894-LFHLY,2019-10-01,2019-11-01,Month-to-month,Yes,Electronic check,75.75,75.75,Fiber optic,...,No,No,No,No,Male,1,No,No,Yes,1
7034,7035,0639-TSIQW,2014-03-01,2019-10-01,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Fiber optic,...,Yes,No,Yes,No,Female,0,No,No,Yes,1
7041,7042,8361-LTMKD,2019-07-01,2019-11-01,Month-to-month,Yes,Mailed check,74.40,306.60,Fiber optic,...,No,No,No,No,Male,1,Yes,No,Yes,1

In [3]:
obj_df = df.select_dtypes(include="object")
obj_df

,customer_id,type,paperless_billing,payment_method,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,gender,partner,dependents,multiple_lines
4,8357-EQXFO,Month-to-month,Yes,Electronic check,Fiber optic,No,No,Yes,No,Yes,Yes,Female,No,No,No
5,1989-PRJHP,Month-to-month,Yes,Electronic check,Fiber optic,No,No,No,No,No,No,Male,Yes,No,Yes
17,1447-PJGGA,Two year,Yes,Electronic check,Fiber optic,No,No,Yes,No,Yes,Yes,Female,No,No,No
18,8565-CLBZW,Month-to-month,Yes,Mailed check,Fiber optic,No,No,Yes,No,Yes,No,Male,No,No,Yes
19,9139-WQQDY,One year,No,Mailed check,Fiber optic,No,Yes,No,No,Yes,Yes,Female,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7021,1699-HPSBG,One year,Yes,Electronic check,DSL,No,No,No,Yes,Yes,No,Male,No,No,No
7026,8775-CEBBJ,Month-to-month,Yes,Bank transfer (automatic),DSL,No,No,No,No,No,No,Female,No,No,No
7032,6894-LFHLY,Month-to-month,Yes,Electronic check,Fiber optic,No,No,No,No,No,No,Male,No,No,Yes
7034,0639-TSIQW,Month-to-month,Yes,Credit card (automatic),Fiber optic,Yes,Yes,Yes,No,Yes,No,Female,No,No,Yes
7041,8361-LTMKD,Month-to-month,Yes,Mailed check,Fiber optic,No,No,No,No,No,No,Male,Yes,No,Yes

In [4]:
cat_columns = ["type", "payment_method", "internet_service", "gender"]

# auto - автоматическое определение категорий
# ignore - игнорировать ошибки, если встречается неизвестная категория
# max_categories - максимальное количество уникальных категорий
# sparse_output - вывод в виде разреженной матрицы, если False, то в виде обычного массива
# drop="first" - удаляет первую категорию, чтобы избежать ловушки мультиколлинеарности
encoder_oh = OneHotEncoder(categories="auto", handle_unknown="ignore", max_categories=10, sparse_output=False, drop="first")

# применение OneHotEncoder к данным. Преобразование категориальных данных в массив
encoded_features = encoder_oh.fit_transform(df[cat_columns].to_numpy()) # ваш код здесь #

# преобразование полученных признаков в DataFrame и установка названий колонок
# get_feature_names_out() - получение имён признаков после преобразования
encoded_df = pd.DataFrame(encoded_features, columns=encoder_oh.get_feature_names_out()) # ваш код здесь #

# конкатенация исходного DataFrame с новым DataFrame, содержащим закодированные категориальные признаки
# axis=1 означает конкатенацию по колонкам
obj_df = pd.concat([obj_df, encoded_df], axis=1)

obj_df.head(2)

,customer_id,type,paperless_billing,payment_method,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,...,partner,dependents,multiple_lines,x0_One year,x0_Two year,x1_Credit card (automatic),x1_Electronic check,x1_Mailed check,x2_Fiber optic,x3_Male
4,8357-EQXFO,Month-to-month,Yes,Electronic check,Fiber optic,No,No,Yes,No,Yes,...,No,No,No,1.0,0.0,0.0,0.0,1.0,1.0,0.0
5,1989-PRJHP,Month-to-month,Yes,Electronic check,Fiber optic,No,No,No,No,No,...,Yes,No,Yes,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [5]:
encoded_features

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 1.],
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [ ]:
num_columns = ["monthly_charges", "total_charges"]

n_knots = 3
degree_spline = 4
n_quantiles=100
degree = 3
n_bins = 5
encode = 'ordinal'
strategy = 'uniform'
subsample = None


# SplineTransformer
num_df = df[num_columns].copy()
encoder_spl = SplineTransformer(n_knots=n_knots, degree=degree_spline)
encoded_features = encoder_spl.fit_transform(df[num_columns])

encoded_df = pd.DataFrame(
    encoded_features, 
    columns=encoder_spl.get_feature_names_out(num_columns)
)
num_df = pd.concat([num_df, encoded_df], axis=1)


# QuantileTransformer
encoder_q = QuantileTransformer(n_quantiles=n_quantiles)
encoded_features = encoder_q.fit_transform(num_df[num_columns])

encoded_df = pd.DataFrame(
    encoded_features,
    columns=encoder_q.get_feature_names_out(num_columns)
)
encoded_df.columns = [col + f"_q_{n_quantiles}" for col in num_columns]
num_df = pd.concat([num_df, encoded_df], axis=1)


# RobustScaler
encoder_rb = RobustScaler()
encoded_features = encoder_rb.fit_transform(num_df[num_columns])

encoded_df = pd.DataFrame(
    encoded_features,
    columns=encoder_rb.get_feature_names_out(num_columns)
)
encoded_df.columns = [col + f"_robust" for col in num_columns]
num_df = pd.concat([num_df, encoded_df], axis=1)


# # PolynomialFeatures
# encoder_pol = PolynomialFeatures(degree=degree)
# encoded_features = encoder_pol.fit_transform(num_df[num_columns].dropna())

# encoded_df = pd.DataFrame(
#     encoded_features,
#     columns=encoder_pol.get_feature_names_out(num_columns)
# )
# # get all columns after the intercept and original features
# encoded_df = encoded_df.iloc[:, 1 + len(num_columns):]
# encoded_df.columns = [col + f"_poly" for col in num_columns]
# num_df = pd.concat([num_df, encoded_df], axis=1)

# # KBinsDiscretizer
# encoder_kbd = # ваш код здесь #
# encoded_features = # ваш код здесь #

# encoded_df = # ваш код здесь #
# encoded_df.columns = [col + f"_bin" for col in num_columns]
# num_df = # ваш код здесь #


# num_df.head(2)

NameError: name 'num_df' is not defined

In [67]:
num_df

,monthly_charges,total_charges,monthly_charges_sp_0,monthly_charges_sp_1,monthly_charges_sp_2,monthly_charges_sp_3,monthly_charges_sp_4,monthly_charges_sp_5,total_charges_sp_0,total_charges_sp_1,total_charges_sp_2,total_charges_sp_3,total_charges_sp_4,total_charges_sp_5,monthly_charges_q_100,total_charges_q_100,monthly_charges_robust,total_charges_robust
4,95.35,660.90,0.000000,0.002112,0.186388,0.598552,0.209770,0.003178,0.000000e+00,0.023461,0.388126,0.519622,6.877732e-02,0.000013,0.854912,0.901310,0.702528,1.667648
5,75.50,1893.95,0.025832,0.399520,0.510814,0.063827,0.000007,0.000000,3.513718e-02,0.437076,0.478720,0.049066,1.261749e-07,0.000000,0.044148,0.269110,-1.591178,-0.274583
17,95.25,5464.65,0.000032,0.076946,0.532474,0.370422,0.020126,0.000000,1.855233e-02,0.361267,0.538725,0.081409,4.686369e-05,0.000000,0.280303,0.485160,-0.420656,-0.023071
18,89.85,2165.05,0.000000,0.000714,0.139740,0.587117,0.265517,0.006911,3.287106e-07,0.051225,0.484057,0.431205,3.351144e-02,0.000000,0.924737,0.857063,0.885422,1.335501
19,100.45,4941.80,0.007940,0.277225,0.582984,0.131298,0.000552,0.000000,1.721109e-02,0.352987,0.544145,0.085593,6.444547e-05,0.000000,0.114428,0.503082,-1.223238,0.003931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN